<div>
  <link href="./app-settings.css" rel="stylesheet" />
  <div class="app-settings-container">
    <h1 class="app-settings-text">Settings</h1>
    <span class="app-settings-text01">Trial Info:</span>
    <button type="button" class="app-settings-button button">
      <span class="app-settings-text02">
        <span>Become a Subscriber!</span>
        <br />
      </span>
    </button>
    <span class="app-settings-text05">
      <span>Subscription Info:</span>
      <br />
    </span>
    <span class="app-settings-text08">Profile Info:</span>
    <span class="app-settings-text09">Peripheral Settings:</span>
    <span class="app-settings-text10">Subscription Plan:</span>
    <span class="app-settings-text11">Payment Info:</span>
    <button type="button" class="app-settings-button1 button">
      Change Your Plan?
    </button>
    <button type="button" class="app-settings-button2 button">
      Cancel Subscription
    </button>
    <button type="button" class="app-settings-button3 button">
      Change Payment Details
    </button>
    <span class="app-settings-text12">Username:</span>
    <button type="button" class="app-settings-button4 button">Edit</button>
    <span class="app-settings-text13">
      <span>Email:</span>
      <br />
    </span>
    <button type="button" class="app-settings-button5 button">
      Change Password
    </button>
    <span class="app-settings-text16">MIDI Device:</span>
    <span class="app-settings-text17">Microphone:</span>
    <button type="button" class="app-settings-button6 button">
      Change Device
    </button>
    <button type="button" class="app-settings-button7 button">
      Change Device
    </button>
  </div>
</div>
