<!DOCTYPE html>
<html>
<body style="background-color:#003e7d">

<div>
  {% load static%}
  <link href="{% static 'feedback.css'%}" rel="stylesheet" />
  <div class="feedback-container">
    <span class="feedback-text">Feedback Report</span>
    <span class="feedback-text01">Play Time:</span>
    <span class="feedback-text02">Missed Notes:</span>
    <span class="feedback-text03">Accuracy:</span>
    <span class="feedback-text04">Tempo:</span>
    <span class="feedback-text05">Here&apos;s what our AI had to say!</span>
    <span class="feedback-text06">Note Consistency:</span>
    <span class="feedback-text07">Dynamics:</span>
    <span class="feedback-text08">Tips:</span>
    <div class="feedback-container1">
      <button type="button" class="feedback-button button">
        <span class="feedback-text09">
          <span>Practice</span>
          <br />
        </span>
      </button>
      <button type="button" class="feedback-button1 button">
        <span class="feedback-text12">
          <span>Collaborative Learning</span>
          <br />
        </span>
      </button>
      <button type="button" class="feedback-button2 button">
        <span>
          <span>Settings</span>
          <br />
        </span>
      </button>
      <button type="button" class="feedback-button3 button">
        <span class="feedback-text18">
          <span>Home</span>
          <br />
        </span>
      </button>
    </div>
  </div>
</div>

</body>
</html>
