<div>
  <link href="./generator-settings.css" rel="stylesheet" />
  <div class="generator-settings-container">
    <div class="generator-settings-container1">
      <button type="button" class="generator-settings-button button">
        <span class="generator-settings-text">
          <span>Practice</span>
          <br />
        </span>
      </button>
      <button type="button" class="generator-settings-button1 button">
        <span class="generator-settings-text03">
          <span>Collaborative Learning</span>
          <br />
        </span>
      </button>
      <button type="button" class="generator-settings-button2 button">
        <span>
          <span>Settings</span>
          <br />
        </span>
      </button>
      <button type="button" class="generator-settings-button3 button">
        <span class="generator-settings-text09">
          <span>Home</span>
          <br />
        </span>
      </button>
    </div>
    <div class="generator-settings-container2">
      <span class="generator-settings-text12">Music Settings</span>
      <input
        type="checkbox"
        checked="true"
        class="generator-settings-checkbox"
      />
      <span class="generator-settings-text13">Metronome:</span>
      <span class="generator-settings-text14">Hard</span>
      <span class="generator-settings-text15">
        <span>Medium</span>
        <br />
      </span>
      <span class="generator-settings-text18">
        <span>Easy</span>
        <br />
      </span>
      <span class="generator-settings-text21">
        <span>Difficulty</span>
        <br />
      </span>
      <span class="generator-settings-text24">
        <span>Tempo</span>
        <br />
      </span>
      <span class="generator-settings-text27">Key</span>
    </div>
    <button type="button" class="generator-settings-button4 button">
      <span>
        <br />
        <br />
      </span>
    </button>
  </div>
</div>
