<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>login - PercussAtSight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-container1">
            <div class="login-container2">
                <a href="homepage.html" class="login-navlink">
                    <img src="/vue/src/assets/logo.png" alt="logo" class="login-image">
                </a>
            </div>
            <header class="login-navbar-interactive">
                <div class="login-desktop-menu">
                    <div class="login-buttons">
                        <a href="login.html" class="login-login button">Login</a>
                    </div>
                    <a href="signup.html" name="sign-up" class="login-sign-up button">Sign-up</a>
                    <button name="practice" class="login-practice button">Practice</button>
                </div>
            </header>
            <form class="login-form">
                <label class="login-text5">Username:</label>
                <input type="text" placeholder="Username" class="login-textinput input">
                
                <label class="login-text6">Password:</label>
                <input type="password" placeholder="Password" class="login-textinput1 input">

                <img
                    alt="logo"
                    src="/vue/src/assets/logo.png"
                    class="login-image1"
                />

                <button type="submit" name="log-in" class="login-button button">Log-In</button>
            </form>
        </div>
    </div>
</body>
</html>
