<!DOCTYPE html>
<html>
<body style="background-color:#003e7d">

<div>
  {%load static%}
  <link href="{% static 'practice.css' %}" rel="stylesheet" />
  <div class="practice-container">
    <div class="practice-container1">
      <button type="button" class="practice-button button">
        <span class="practice-text">
          <span>Practice</span>
          <br />
        </span>
      </button>
      <button type="button" class="practice-button1 button">
        <span class="practice-text03">
          <span>Collaborative Learning</span>
          <br />
        </span>
      </button>
      <button type="button" class="practice-button2 button">
        <span>
          <span>Settings</span>
          <br />
        </span>
      </button>
      <a href="home">
        <button type="button" class="practice-button3 button">
          <span class="practice-text09">
            <span>Home</span>
            <br />
          </span>
        </button>
      </a>
    </div>
    <button type="button" class="practice-button4 button">
      <span>
        <br />
        <br />
      </span>
    </button>
  </div>
</div>

</body>
</html>
