<html>
  <head>
    <style>
      h1 {
        color: blue
      }
      p { 
        color: gold
      }
    </style>
  </head>
  <body>
    
    <h1> Creates sheets here </h1>
    <p> Click the "Generate" button to create a score and click again to create another </p> 

    <div id="generatedScore"></div> 

    <button onclick = "runSheetGenerator()"> Generate </button> 


    
    <script src="https://cdn.jsdelivr.net/npm/vexflow@4.2.2/build/cjs/vexflow.js"></script>
    <script>

    function runSheetGenerator(){

      // Check if a Score exists and deletes it 
      let existingScore = document.getElementById("generatedScore"); 
      if(existingScore){
        existingScore.parentNode.removeChild(existingScore); 
      }

      // Adds a new div/svg element with same name to house Score 
      let newScore = document.createElement("div"); 
      newScore.id = "generatedScore"; 
      document.body.appendChild(newScore); 


      const {        
        Renderer, Stave, StaveNote, Voice, Formatter} = Vex.Flow; 

      // Create an SVG renderer and attach it to the DIV element named "generatedScore".
      const div = document.getElementById('generatedScore');
      const renderer = new Renderer(div, Renderer.Backends.SVG);

      // Configure the rendering context.
      renderer.resize(500, 500);
      const context = renderer.getContext();

      // Create a stave of width 420 at position 10, 40 on the canvas.
      const stave = new Stave(10, 40, 420);

      // Add a clef and time signature. // This will be dynamic later in generator settings algorithm 
      stave.addClef('treble').addTimeSignature('4/4');

      // Connect it to the rendering context and draw!
      stave.setContext(context).draw();


      


        // TODO: Add note beaming, sticking, instrument switching and half notes  

        // I have left alot of console.logs for debugging, but will delete them later 


        // random notes in the future about this data: 
        // the contents of these three pools can by changed by generator settings 
        // in instrument catalog we'll have to include more note pools to represent different key signatures 

        // for now we're sticking to the key of C major/ A minor and 8th notes as the highest subdivision 
        notePool = ['A', 'B', 'C', 'D', 'E', 'F', 'G'];  
        octavePool = ['/4', '/5'];              // excluding octaves 1-3 and 6-8 to prevent creating several ledger lines 
        durationPool = ['q','8'];     // DELETE LATER, for testing   q = quarter notes, 8 = eigth notes 
        //durationPool = ['w', 'q','8', '16']   # USE THIS LATER 
      
        
        const notes = []; 
        let beatsTotal = 8;  // Total number of beats in the measure, will change this to make it dynamic later 

        generatedNotesArray = []; 

      
      

      function pickRandomlyFromArray(Array){   //picks a uniformly random element from an array
      // ensure randomness with just 2 values in array 
        /*if (Array.length == 2){ 
          let randDecimalVal = Math.random(); // outputs decimal value, instead of whole number 
          randDecimalVal = randDecimalVal < 0.50 ? 0 : 1; 

          randomIndex = randDecimalVal; 
        }  
        else {
          randomIndex = Math.floor(Math.random() * Array.length) + 0; // subtracting 1 to match the max array index 
          if(randomIndex != 0){ // to prevent -1 index and undefined error 
              randomIndex--; 
            }
        }

        return randomIndex; */

        var index = Math.floor(Math.random() * Array.length); //generate random # between [0,1), mult by array length to get [0,length), round down
        return Array[index]; //return the item at that index
      }


      function randomizeNoteAndOctave(){
        Note = pickRandomlyFromArray(notePool);  //randomize note
        Octave = pickRandomlyFromArray(octavePool);  //randomize octave

        return Note + Octave;  //return the note in that octave
      }


      function randomizeDuration(){
        return pickRandomlyFromArray(durationPool)];  //randomize duration and return
      }


      function setBeatsLeftInMeasure (durationToSet) {
        if ( beatsTotal == 1 && durationToSet == 'q'){  // catches situation if beatsTotal = 1, but the note randomize is 'q' 
          beatsTotal --; 
          randomDuration = '8';     // Changes Duration so there's a sufficient number of notes in measure 
        }
        else if(durationToSet == 'q'){
          beatsTotal -= 2; 
        }
        else if (durationToSet == '8') {
          beatsTotal --; 
        }
      }


      let randomizedNote;
      let randomizedDuration; 

      // creates the random Note and Duration then outputs it into Vexflow API 
      function createNote(note, duration) { //creates a note and duration, then outputs it into Vexflow API 
        
        setBeatsLeftInMeasure (duration); //set beats left in measure given duration
        
        generatedNotesArray.push(note, duration); // store notes to use for Smart Feedback Algorithm 

          return new Vex.Flow.StaveNote ({ //load into Vexflow API & return result
          keys: [note],
          duration: duration
        });
      }

      function createRandomNote() { //creates randomized note and duration, then outputs it into Vexflow API
        randomNote = randomizeNoteAndOctave(); //randomize note & octave
        randomDuration = randomizeDuration(); //randomize duration
        
        return createNote(randomNote, randomDuration); //randomize note & duration, then run the pre-built function
      }


      let randomNote; 

      while(beatsTotal != 0) {
        randomNote = createRandomNote();
          console.log(beatsTotal); 
        if (notes.length > 7){    // Catches error where generated notes surpass array limit, Will make this more dynamic 
          console.log("ERROR MAX ARRAY LIMIT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   " + notes.length); 
          break;  
        }
        else {
          notes.push(randomNote); // push created notes in array for vexflow to format and render to screen 
        }
      }



      // Show stored notes of array in console log, DELETE LATER 
      for(it of generatedNotesArray) { //iterate through generated notes array
        console.log(it); //log each one to the console
      }
      
      /*let it = 0; // number of iterations
      console.log("Array's Content that's storing Generated Notes: ")
      while (it < generatedNotesArray.length){
        console.log(generatedNotesArray[it]); 
        it++; 
      }*/

      const notes2 = [new StaveNote({
        keys: [randomizeNoteAndOctave()],  
        duration: 'w'
      })];

      // Create a voice in 4/4 and add above notes
      const voices = [
        new Voice({
          num_beats: 4,
          beat_value: 4
        }).addTickables(notes),
        new Voice({
          num_beats: 4,
          beat_value: 4
        }).addTickables(notes2),
      ];

      // Format and justify the notes to 400 pixels.
      new Formatter().joinVoices(voices).format(voices, 350);

      // Render voices.
      voices.forEach(function(v) {
        v.draw(context, stave);
      });
    

      // Positioning score in middle of page 
      const scorePosition = document.getElementById('generatedScore');
      centerScore = () => {
        scorePosition.style.marginLeft = window.innerWidth/1.75 - scorePosition.clientWidth/1.75 + 'px'; 
        scorePosition.style.marginTop = window.innerHeight/40- scorePosition.clientHeight/40 + 'px'; 
      }

      centerScore();
      window.addEventListener('resize', centerScore); 
    }

    </script>
  </body>
</html>
